.sidebar {
  grid-area: sidebar;
  background-color: #ddd;
  padding:20px;
}

.nav {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #555;
    }
  }
}

.sidebar .active {
  color: #ee6791;
}
